
body {
    background-color:deepskyblue;
}
h1 {
    color:blue;
}
body {
    color:black;
}    
h2 {
    color:blue;
}
p {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 150px;
    margin-left: 50px;
  }