
body {
    background-color:deepskyblue;
}
h1 {
    color:blue;
}
body {
    color:black;
}    
h2 {
    color:blue;
}
p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }